/* logo colours: 
        background: c1c1c1
        waves: F76B8A
        Main text: 041414 - 
        slogan: F76B8A
*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Body ---------------------------------------- */
body {
    margin: 0;
}

/* NavBar -------------------------------------- */
.navbar {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.navbar-brand {
    padding-left: 10px;
    padding-right: 0;
    margin-right: 0;
}

#navbar-logo {
    height: 130px;
    width: 130px;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #041414;
}

.navbar-nav {
    text-align: right;
}

nav a:hover {
    color: #F76B8A;
}

.navbar-toggler {
    padding-right: 5px;
    margin-right: 10px;
   }

.navbar-toggler-icon {
    color: #041414;
}
/* Hero-Image ---------------------------------- */
.home-image {
    padding: 0;
}

#hero-image-1 {
    width: 100%;
    height: 100%;
}