/* logo colours: 
        background: c1c1c1
        waves: F76B8A
        Main text: 041414 - 
        slogan: F76B8A
*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');
/* Body ---------------------------------------- */
body {
    margin: 0;
    background-color: #f9f9f9;
}

/* NavBar -------------------------------------- */
.navbar {
    padding: 0;
    margin: 0;
    background-color: transparent;
    z-index: 1;
}

.navbar-brand {
    padding: 10px;
    margin-right: 0;

}

.logo-nav {
    font-family: 'Cinzel', sans-serif;
    color: #041414;
    font-size: 40px;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #041414;
}

.navbar-nav {
    text-align: right;
}

nav a:hover {
    color: #00A3A3;
}

.navbar-toggler {
    padding-right: 5px;
    margin-right: 10px;
   }
/* Hero-Image ---------------------------------- */
.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/assets/images/hero-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-family: 'Cinzel', sans-serif;
    font-size: 300%;
    padding-right: 150px;
}

.hero .btn {
    background-color: #f9f9f9;
    font-family: 'Lato', sans-serif;
    
}

/* Plan your visit page ----------------------------------------- */
#place-interest {
    padding: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Cinzel', sans-serif;
}

/* Map--------------------------------------------------- */

#map {
	width: 100%;
	height: 400px;
}

.map-button {
    text-align: center;
    padding: 10px;
}

.map-link {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #041414;
}

.map-link:hover {
    color: #00A3A3;
}

.fas {
    padding: 2px;
}

/* Cards within places of interest ---------------------------------- */
.card-title{
    font-family: 'Cinzel', sans-serif;
    font-size: 30px;
    text-align: center;
}

.card-text{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.town-button {
    background-color: #00A3A3;
}

/* Contact Us --------------------------------------- */

.contact-us {
   width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/assets/images/contact-us-img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.contact-title {
    font-family: 'Cinzel', sans-serif;
}

.contact-slogan{
    font-family: 'Lato', sans-serif;
}

.form-floating {
    height: 80px;
}

.form-control {
    background-color: transparent;
    border-color: #041414;
    font-family: 'Lato', sans-serif;
}
