/* logo colours: 
        background: c1c1c1
        waves: F76B8A
        Main text: 041414 - 
        slogan: F76B8A
*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Cinzel:wght@400;500;600;700;800;900&display=swap');
/* Body ---------------------------------------- */
body {
    margin: 0;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

/* NavBar -------------------------------------- */
.navbar {
    padding: 0;
    margin: 0;
    background-color: transparent;
    z-index: 1;
    overflow-x: hidden;
}

.navbar-brand {
    padding: 10px;
    margin-right: 0;

}

.logo-nav {
    font-family: 'Cinzel', sans-serif;
    color: #041414;
    font-size: 40px;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #041414;
}

.navbar-nav {
    text-align: right;
}

nav a:hover {
    color: #041414;
}

.navbar-toggler {
    padding-right: 5px;
    margin-right: 10px;
   }
/* Hero-Image ---------------------------------- */
.hero {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-family: 'Cinzel', sans-serif;
    font-size: 300%;
}

/* Explore info ------------------------------------------------ */
.info-title {
    padding: 10px;
    text-align: center;
}

.info-intro {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color: #041414;
}


.info-vid {
    text-align: center;
    font-family: 'Cinzel', sans-serif;
}

.season-vid{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.season-vid iframe{
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Plan your visit page ----------------------------------------- */
#place-interest {
    padding: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'Cinzel', sans-serif;
}

.intro-plan {
    text-align: center;
}

.page-title {
    font-family: 'Cinzel', sans-serif;
    color: #041414;
} 

.page-intro {
    font-family: 'Lato', sans-serif;
    color: #041414;
}

/* page intro vid --------------------------------------- */


/* Map--------------------------------------------------- */

#map {
	width: 100%;
    height: 500px;
    margin-right: 10px;
    padding-right: 20px;
}

.map-button {
    text-align: center;
    padding: 10px;
}

.map-link {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #041414;
}

.map-link:hover {
    color: #00A3A3;
}

.fas {
    padding: 2px;
}

/* Cards within places of interest ---------------------------------- */
.place-interest {
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    color: #041414;
}

.card {
    margin: 5px;
}

.card-title{
    font-family: 'Cinzel', sans-serif;
    font-size: 30px;
    text-align: center;
}

.card-text{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.town-button {
    background-color: #00A3A3;
}

/* Video ------------------------------------------- */
.aldeburgh-vid {
  position: relative;
  width: 100%;
padding-bottom: 56.25%; 
  height: 0;
  margin: 10px;
  
}
.aldeburgh-vid iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 80%;
  padding-right: 20px;
}

.map-jump {
    text-align: center;
}

#back-to-map {
    text-align: center;
    width: 200px;
    height: 45px;
    font-size: 20px;
}

/* Contact Us --------------------------------------- */

.contact-us {
   width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/contact-us-img.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.contact-title {
    font-family: 'Cinzel', sans-serif;
    color: #f9f9f9;
}

.contact-slogan{
    font-family: 'Lato', sans-serif;
    color: #f9f9f9;
}

.form-floating {
    height: 80px;
}

.form-control {
    background-color: #f9f9f9;
    border-color: #041414;
    font-family: 'Lato', sans-serif;
}

.form-text {
    color: #f9f9f9;
    font-family: 'Lato', sans-serif;
}

/* ---------------------------------------------- footer */
footer {
  width:100%;
  height: 82px;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

#contact-footer{
   position: fixed;
bottom: 0;
  width:100%;
  height: 82px;
  background-color: #f9f9f97D ;
  overflow-x: hidden; 
}

#website-links-left{
padding-top: 5px;
padding-left: 40px;
color: #041414;
font-family: 'Cinzel', sans-serif;
}

.footer-nav {
display: inline-block;
text-decoration: none;
font-size: 14px;
font-family: 'Lato', sans-serif;
color: #041414;
padding-left: 20px;
}

#website-links-right{
    padding-top: 5px;
padding-right: 40px;
color: #041414;
font-family: 'Cinzel', sans-serif;
}

.social-title {
    text-align: right;
}

.social-links {
    text-align: right;
}

.social-item {
    display: inline-block;
}

.social-logo {
    color: #041414;
    font-size: 20px;
    padding-right: 20px;
}

.footer-text-left {
  padding-left: 40px;
  float: left;
}

.footer-content-right {
  padding-right:40px;
  margin-top:20px;
  float:right;
  font-size: 12px;
}
 

